<title> {{title}} </title>
<form action="/article" method="post">
  <label>Title </label><input type="text" name="title">
  <label>URL </label><input type="text" name="url">
  <label>Text </label><input type="text" name="content">
  <button type="submit">Add Article</button>
</form>

