<div ng-controller="locationListCtrl">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1>
          {{pageHeader.title}}
          <small>&nbsp;{{pageHeader.strapline}}</small>
        </h1>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="error">{{message}}</div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="location in data.locations">
          <location-bar  location=location></location-bar>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">
        {{sidebar}}
      </p>
    </div>
  </div>
</div>
